

.dashboardFrame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-height: 75vh;
  margin: 0 auto;
  border-radius: 30px ;
  background-color: #0e131a;
  
}

/* GAME SHELL COMPONENT */

.questionSegment {
  display: flex;
  width: 75%;
  min-height: 60vh;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #272d35;
  border-radius: 30px;
}

.questionSegment > * {
  font-size: 2rem;
  max-width: 100%;
  border-radius: 30px;
  padding: 10px;
}

/* GAME DETAILS COMPONENT */

.gameDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
  width: 20%;
  background-color: #272d35;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.hearts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2%;
}

.hearts > * {
  width: 30%;
  max-width: 50px;
  height: auto;
 
}

.levels {
  display: flex;
  flex-direction: column;
  gap: 10px;

}




 /* FOR PHONES Samsung Galazy s22+ and Smaller */
@media only screen and (max-width: 450px) {
  .dashboardFrame {
    flex-direction: column;
    flex-flow: column-reverse;
    padding:  20px;
    min-height: 0;
    gap: 20px;
    
  }
  .gameDetails {
    width: 100%;
    min-height: 0;
    
  }
  .questionSegment {
    width: 100%;
    min-height: 0;
  }
  .questionSegment > * {
    font-size: 1.5rem;
  }
  .levels {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .levels > * {
    font-size: 1rem;
  }
  .levels > h2 {
    width: 100%;
    font-size: 1.5rem;
  }
}

