

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

html {
  font-size: 16px;
  background-image: url('../../public/dashboard_background.jpg');
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  height: 100vh;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  padding: 20px;
  gap: 5vh;
  color: #f9fdfd ;
  min-height: 100%;
}

header {
  text-align: center;
  font-size: 2.5rem;
  border-radius: 30px;
  background-color: #0e131a;
  padding: 2vh;
  width: 90%;
  margin: 0 auto;
}

/* STYLERS */
.white {
  color: #fcfcfa;
}


.active {
  color: #1088f8;
  
}

.error {
  color: red;
}

.current {
  background-color: lime;
 }

 .success {
  color: green;
 }
  

.activeButton {
  color: #fcfcfa;
  background-color: #1088f8;
  transition: all 0.5s linear;
  box-shadow: 0 9px #6bb7ff;
}

.activeButton:hover{
  background-color: #0e6ec9;
  transition: background-color 0.25s linear;
}

.activeButton:active {
  transform: translateY(9px);
  box-shadow: 0 0;
}

.activeButton:disabled {
  background-color: rgb(84, 83, 83);  
  box-shadow: 0 9px #939394;
  color:  #fcfcfa;
}

.blueBg {
  background-color: #1088f8;
}

@media only screen and (max-width: 450px) {
  header {
    font-size: 1.5rem;
  }
}


