.scoreTable{
    
    width: 90%;
    max-height: 60vh;
    overflow-y: auto;
    margin: 0 auto;
    min-height: 0;
    padding: 30px;
    border-radius: 15px;
    list-style-type: none;
    font-size: 1.5rem;
    background-color: #0e131a;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.scoreBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-height: 75vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #0e131a;
    padding: 15px;
    border-radius: 15px;
}

.scoreMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 140px;
    border: 2px dashed purple;
    border-radius: 5px;
    padding: 10px;
}

.score{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}

.score:first-child{
    color: purple;
}
.score > p {
    width: 25%;
    text-align: center;
}